* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .container {
display: flex;
align-items: center;
justify-content: space-between;
width: 85%;
 }

  /* Create three columns of equal width */
  .columns {
    width: 33.3%;
    padding: 8px;
    position: relative;

  }
  
  #basic {
animation-name: basic;
animation-duration: 1.5s;
  }

@keyframes basic {
  0% {left: -500px;}
  100% {left: 0px;}
}

  #pro {
animation-name: pro;
animation-duration: 1.5s;
  }

@keyframes pro {
  0% {bottom: -500px;}
  100% {bottom: 0px;}
}

  #premium {
animation-name: premium;
animation-duration: 1.5s;
  }

@keyframes premium {
  0% {right: -500px;}
  100% {right: 0px;}
}


  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  #pro .header {
    background-color: #4CAF50;
    color: white;
  }
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .button:hover {
      background-color: white;
      color: #4CAF50;
      border: 2px solid #4CAF50;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */

  /* Responsiveness with media query */

  @media (max-width: 600px) {

    .container {
        flex-direction: column;
         }

    .columns {
      width: 100%;
    }

    /* ANIMATION */
    @keyframes pro {
      0% {right: -500px;}
      100% {right: 0px;}
    }
    
    
    @keyframes premium {
      0% {left: -500px;}
      100% {left: 0px;}
    }
  }